# Python caching
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.env.local
.venv
venv/
env/
ENV/

# Data and Databases (Ignore data files but keep directory structures)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
